:root {
    --primary : rgb(69, 69, 206);
    --text-color : rgb(182, 178, 178);
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.anchor{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1.5rem;
    background-color: rgb(68, 95, 19);
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 12px;
}
.anchor:hover {
    background-color: rgb(241, 139, 156);
    font-weight: 700;
    font-size: 1.7rem;
}
/*  flex*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-center{
    align-items: center();
}
.justify-between{
    justify-content: space-between;
}
.flex-48{
    flex: 0 1 48%;
}
.column {
    flex-direction: column;
}

/* general css */
body{
    text-align: center;
}
h1{
    font-size: 3.5rem;
    margin: 2rem auto;
    color: aqua;
    font-weight: 700;

}
a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;

}
/* add book */

form {
    padding: 2rem;
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    background-color: aqua;
}
legend{
    font-size: 2.5rem;
    font-weight: 700;
}

input , textarea{
    border: 0;
    padding: 1rem 0.5rem;
    width: 100%;
    margin-top: 20px;
    font-size: 1.5rem;
}
.btn{
    width: 200px;
   background-color: rgb(243, 90, 90);
   border-radius: 18px;
   margin-top: 30px; 
   font-weight: 700;
   color: rgb(243, 242, 242);


}


::placeholder{
    color: var(--text-color);
} 

/* home icon */
.home-icon {
    display: inline-block;
    font-size: 3rem;
    color: rgb(85, 85, 233);
    background-color: white;
    margin: 1rem;
}
.home-icon :hover{
    color: rgb(238, 97, 121);
    background-color: white;
    font-size: 3rem;
}
/* user-List */

li{
    margin-top: 1rem;
}
.userList a{  
    font-size: 2rem;
    font-weight: 700;
    color: rgb(152, 173, 56);
}
.singleUserInfo {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(197, 159, 46);
    margin: 5rem auto;
    border: 1px solid gray;
    width: 400px;
    padding: 2rem 15px;
}
.heading{
    font-weight: 800;
    font-size: 3rem;
    color: white;
    background-color: rgb(37, 106, 91) ;
    padding: 15px;

}